﻿@{
    ViewData["Title"] = "Spotify";
}

<div class="panel panel">
    <div class="panel-heading">
        <h1>Seleccion de canción</h1>
    </div>
    <div class="panel-body">
        <div class="col-xs-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5>Cola actual</h5>
                </div>
                <div class="panel-body">
                    <div class="main">
                        <ul id="listaEscuchando" class="list-group list-group-flush">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-7">
            <div class="form">
                <div class="row">
                    <div class="col-xs-8">
                        <input type="text" id="txtBusqueda" name="txtBusqueda" class="form-control " />
                    </div>
                    <button id="btnBuscar" name="btnBuscar" class="btn btn-primary col-xs-4">Buscar</button>

                </div>
                <div class="row">
                    <ul id="listaResultado" class="list-group list-group-flush"></ul>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Cancion</th>
                                <th>Album</th>
                                <th>-</th>
                                <th>Accion</th>
                            </tr>
                        </thead>
                        <tbody id="cuerpotabla"></tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-xs-offset-4 col-xs-5">
                        <button id="btnCarga" name="btnCarga" class="btn btn-primary form-control">Carga cancion</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/Scripts/signalr.js"></script>
    <script type="text/javascript">
        // Bind DOM elements
        var sendButton = document.getElementById("btnCarga");
        var messagesList = document.getElementById("listaEscuchando");
        var messageTextBox = document.getElementById("txtBusqueda");

        function appendMessage(nombre, artista) {
            var li = ' <li class="list-group-item">' + nombre + '-' + artista + '</li>';
            $("#listaEscuchando").append(li);
        }

        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/hubs/spotifyhub")
            .configureLogging(signalR.LogLevel.Information)
            .build();

        sendButton.addEventListener("click", function (evt) {
            var message = messageTextBox.value;
            messageTextBox.value = "";
            connection.send("SendMessage",message);
            evt.preventDefault();
        });
        connection.on("EncolarCancion", function (playurl, nombre, artista) {
            appendMessage(nombre,artista);
        });

        connection.on("CambiarCancion", function (cancion) { 
            $("#listaEscuchando").first().remove();
            $("#listaEscuchando").first().addClass("has-success");
        });

        function EncolarCancion(playurl,nombre,artista)
        {
            connection.send("EncolarCancion", playurl,nombre,artista);
        }

        connection.start().then(function () {
            messageTextBox.disabled = false;
            sendButton.disabled = false;
        }).catch(err => console.error(err.toString()));
    </script>

    <script>
        var hashes = window.location.hash;
        hashes = hashes.replace("#", "?");
        if (hashes !== "")
            window.location = hashes;
        $(document).ready(function () {
            $("#btnBuscar").on("click", function (e) {
                var valorBuscado = $("#txtBusqueda").val();
                $("#txtBusqueda").val('');
                $.get('@Url.Action("Search")', { query: valorBuscado }, function (response) {

                    $("#cuerpotabla").html('');
                    MostrarLista(response);
                 });
             });
        });

        function MostrarLista(listaArtista) {
            $.each(listaArtista, function (index, value) {
                var cuerpo = "<tr>";
                cuerpo += "<td>" + index + "</td>";
                cuerpo += "<td>" + value.name + "</td>";
                cuerpo += "<td>" + value.album.name + "</td>";
                cuerpo += "<td><img src='" + value.album.images[2].url + "'/></td>";
                cuerpo += '<td><button onclick="EncolarCancion(\'' + value.external_urls.spotify + '\',\'' + value.name + '\',\'' + value.artists[0].name +'\')" class="btn btn-primary">Agregar Url</button></td>';
                cuerpo += "</tr>";

                $("#cuerpotabla").append(cuerpo);

                //$("#listaResultado").append('<li class="list-group-item">' + value.name +'</li>');
             });
        }


    </script>
}