﻿@{
    ViewData["Title"] = "Spotify";
}

<div class="panel panel">
    <div class="panel-heading">
        <h1>Seleccion de canción</h1>
    </div>
    <div class="panel-body">
        <div class="col-xs-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5>Cola actual</h5>
                </div>
                <div class="panel-body">
                    <div class="main">
                        <ul id="listaEscuchando" class="list-group list-group-flush">
                            <li class="list-group-item"></li>
                            <li class="list-group-item"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-7">
            <div class="form">
                <a href="@ViewBag.AuthUrl" class="btn btn-success col-xs-4">Conectar a Spotify</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="/lib/signalr/signalr.js"></script>
    <script type="text/javascript">
        // Bind DOM elements
        var sendButton = document.getElementById("btnCarga");
        var messagesList = document.getElementById("listaEscuchando");
        var messageTextBox = document.getElementById("txtBusqueda");

        function appendMessage(content) {
            var li = document.createElement("li");
            li.innerText = content;
            messagesList.appendChild(li);
        }

        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/hubs/spotifyhub")
            .configureLogging(signalR.LogLevel.Information)
            .build();

        sendButton.addEventListener("click", function (evt) {
            var message = messageTextBox.value;
            messageTextBox.value = "";
            connection.send("SendMessage",message);
            evt.preventDefault();
        });

        connection.on("SendMessage", function (message) {
            appendMessage(message);
        });

        connection.start().then(function () {
            messageTextBox.disabled = false;
            sendButton.disabled = false;
        }).catch(err => console.error(err.toString()));
    </script>

    <script>
        
        $(document).ready(function(){
            $("#btnBuscar").on("click", function (e) {
                var valorBuscado = $("#txtBusqueda").val();

                $.get('@Url.Action("Search")', { query: valorBuscado }, function (response) {
                    MostrarLista(response);
                 });
             });
        });

        function MostrarLista(listaArtista) {
        }


    </script>
}